In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from tqdm import tqdm_notebook

In [2]:
url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20220106'
res = req.get(url)
soup = bs(res.text)

# title변수에 '영화명' score변수에 '평점'가져오기

In [3]:
title = soup.select('div.tit5>a')

In [4]:
score = soup.select('.point')

In [5]:
len(title)

19

In [6]:
len(score)

19

In [12]:
title_list = []
score_list = []
rank_list = []

for i in range(len(title)):
    title_list.append(title[i].text)
    score_list.append(score[i].text)
    rank_list.append(i+1)

In [13]:
dic = {'영화명':title_list, '평점': score_list, '순위':rank_list}

In [14]:
df = pd.DataFrame(dic)
df

                 영화명    평점  순위
0               씽2게더  9.41   1
1                 코다  9.23   2
2               러브레터  9.12   3
3      스파이더맨: 노 웨이 홈  8.95   4
4               아멜리에  8.81   5
5           고양이를 부탁해  8.81   6
6          드라이브 마이 카  8.75   7
7              공각기동대  8.73   8
8              돈 룩 업  8.69   9
9        엔칸토: 마법의 세계  8.29  10
10         연애 빠진 로맨스  8.29  11
11     킹스맨: 퍼스트 에이전트  8.10  12
12          프렌치 디스패치  8.01  13
13             경관의 피  7.91  14
14             아웃레이지  7.84  15
15             유체이탈자  7.58  16
16           해피 뉴 이어  7.10  17
17  베놈 2: 렛 데어 비 카니지  6.11  18
18        매트릭스: 리저렉션  5.52  19

In [15]:
df.set_index('순위', inplace=True)

In [16]:
df

                 영화명    평점
순위
1               씽2게더  9.41
2                 코다  9.23
3               러브레터  9.12
4      스파이더맨: 노 웨이 홈  8.95
5               아멜리에  8.81
6           고양이를 부탁해  8.81
7          드라이브 마이 카  8.75
8              공각기동대  8.73
9              돈 룩 업  8.69
10       엔칸토: 마법의 세계  8.29
11         연애 빠진 로맨스  8.29
12     킹스맨: 퍼스트 에이전트  8.10
13          프렌치 디스패치  8.01
14             경관의 피  7.91
15             아웃레이지  7.84
16             유체이탈자  7.58
17           해피 뉴 이어  7.10
18  베놈 2: 렛 데어 비 카니지  6.11
19        매트릭스: 리저렉션  5.52

# 한달동안의 영화데이터 수집

In [ ]:
#1월달 데이터
20220101-20220106

In [19]:
title_list = []
score_list = []
rank_list = []

for i in range(20220101,20220107):
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date='+str(i)
    res = req.get(url)
    soup = bs(res.text)
    title = soup.select('div.tit5>a')
    score = soup.select('.point')

    for i in range(len(title)):
        title_list.append(title[i].text)
        score_list.append(score[i].text)
        rank_list.append(i+1)

In [21]:
len(title_list)

110

In [23]:
dic = {'영화명':title_list, '평점': score_list, '순위':rank_list}
df = pd.DataFrame(dic)
df.set_index('순위', inplace=True)
df

                 영화명    평점
순위
1                 코다  9.24
2      스파이더맨: 노 웨이 홈  8.97
3            러브 액츄얼리  8.93
4               아멜리에  8.81
5           고양이를 부탁해  8.81
..               ...   ...
15             아웃레이지  7.84
16             유체이탈자  7.58
17           해피 뉴 이어  7.10
18  베놈 2: 렛 데어 비 카니지  6.11
19        매트릭스: 리저렉션  5.52

[110 rows x 2 columns]

# Pandas활용하여 날짜 생성

In [27]:
date = pd.date_range(start = "2021-01-01", end = "2021-03-31")
date

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17',
               '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29',
               '2021-03-30', '2021-03-31'],
              dtype='datetime64[ns]', freq='D')

In [29]:
# 문자형 포맷팅으로 필요없는 내용 지우기
# strftime(%년%월%일)
days = date.strftime('%Y%m%d')

In [38]:
from tqdm import tqdm_notebook

In [39]:
title_list = []
score_list = []
rank_list = []
day_list = []

for day in tqdm_notebook(days):
    url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date='+day
    res = req.get(url)
    soup = bs(res.text)
    
    title = soup.select('div.tit5>a')
    score = soup.select('.point')
    

    for i in range(len(title)):
        title_list.append(title[i].text)
        score_list.append(score[i].text)
        rank_list.append(i+1)
        day_list.append(day)

C:\Users\smhrd\AppData\Local\Temp/ipykernel_9384/2149451972.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for day in tqdm_notebook(days):

  0%|          | 0/90 [00:00<?, ?it/s]

In [32]:
dic = {'영화명':title_list, '평점': score_list, '순위':rank_list, '날짜':day_list}
df = pd.DataFrame(dic)
df.set_index('순위', inplace=True)
df

                         영화명    평점        날짜
순위
1               가나의 혼인잔치: 언약  9.59  20210101
2                       언플랜드  9.52  20210101
3              극장판 바이올렛 에버가든  9.49  20210101
4                   부활: 그 증거  9.40  20210101
5                    소년시절의 너  9.39  20210101
..                       ...   ...       ...
46                       고질라  6.67  20210331
47  쏘아올린 불꽃, 밑에서 볼까? 옆에서 볼까?  6.55  20210331
48            불한당: 나쁜 놈들의 세상  6.43  20210331
49                    카오스 워킹  6.29  20210331
50                     신 고질라  4.97  20210331

[4293 rows x 3 columns]

In [35]:
df[df['날짜']=='20210101']

                           영화명    평점        날짜
순위
1                 가나의 혼인잔치: 언약  9.59  20210101
2                         언플랜드  9.52  20210101
3                극장판 바이올렛 에버가든  9.49  20210101
4                     부활: 그 증거  9.40  20210101
5                      소년시절의 너  9.39  20210101
6   페이트 스테이 나이트 헤븐즈필 III.스프링 송  9.26  20210101
7                       일 포스티노  9.16  20210101
8                      제리 맥과이어  9.16  20210101
9                      사랑의 블랙홀  9.15  20210101
10                        러브레터  9.12  20210101
11                 타오르는 여인의 초상  9.07  20210101
12                     글루미 선데이  9.06  20210101
13                  당신이 잠든 사이에  9.06  20210101
14                         노트북  9.05  20210101
15                      비긴 어게인  9.04  20210101
16                         굿바이  9.04  20210101
17            조제, 호랑이 그리고 물고기들  9.00  20210101
18                        윤희에게  8.98  20210101
19                     남매의 여름밤  8.96  20210101
20                     러브 액츄얼리  8.93  20210101
21                          담보  8.91  20210101
22               해리가 샐리를 만났을 때  8.89  20210101
23                        화양연화  8.80  20210101
24                  찬실이는 복도 많지  8.72  20210101
25                      귀여운 여인  8.70  20210101
26                         피아노  8.66  20210101
27                     캡틴 판타스틱  8.65  20210101
28                    퐁네프의 연인들  8.63  20210101
29                        라라랜드  8.61  20210101
30                         철도원  8.59  20210101
31                        아비정전  8.50  20210101
32                          레토  8.43  20210101
33                  삼진그룹 영어토익반  8.36  20210101
34                          테넷  8.20  20210101
35                           런  8.17  20210101
36                     하나와 앨리스  8.11  20210101
37                        일대종사  8.01  20210101
38                 존 윅 3: 파라벨룸  8.01  20210101
39                     아이 엠 러브  7.85  20210101
40                   펀치 드렁크 러브  7.72  20210101
41                      루비 스팍스  7.51  20210101
42                          도굴  7.36  20210101
43                        애비규환  7.02  20210101
44                    프리키 데스데이  6.84  20210101
45                          조제  6.65  20210101
46                        이웃사촌  5.98  20210101
47                  원더 우먼 1984  5.49  20210101
48                         800  3.60  20210101